/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variables */
:root {
  /* colores */
  --colorbase: #f9eadc;
  --colorverde1: #136832;
  --colorverde2: #b0ca83;
  --colorcafe1: #2b1a0a;
  --colorboton: #dbfa7e;
  --colorautor: #012e12;
  --colortransparente: #e8e582d7;
  /* Textos */
  --titulos: 'Playfair Display', serif;
  --subtitulos: 'Montserrat', sans-serif;
  --textos: 'Open Sans', sans-serif;
}

/* GLOBALES */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--colorbase);
  font-size: 62.5%;
  font-family: var(--textos);
}
body {
  font-size: 1.6rem;
  font-family: var();
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  max-width: 100%; /* Nunca serÃ¡ mÃ¡s ancha que su padre */
  display: block; /* Quita un pequeÃ±o espacio extra que dejan las imÃ¡genes abajo */
  height: auto; /* Mantiene la proporciÃ³n para que no se vea estirada */
}
h1 {
  font-family: var(--titulos);
  font-size: 3.5rem;
}

h2,
h3,
h4 {
  font-family: var(--subtitulos);
}
p {
  font-family: var(--textos);
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* inicio del HEADER Y MENU */
.navbar {
  background-color: var(--colorverde1);
  position: sticky;
  top: 0;
  left: 0;
  height: 8rem;
  z-index: 100;
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
}
.navbar--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar--container-imagen {
  height: 5rem;
  width: auto;
}

.navbar--menu-list {
  display: flex;
  gap: 2rem;
}
.navbar--menu-list li a {
  color: var(--colorbase);
  padding: 1.5rem;
  display: block;
  height: 100%;
  background: transparent;
  font-weight: bold;
}

.navbar--menu-list li a:hover {
  background-color: var(--colorboton);
  color: var(--colorverde1);
  transition: 0.4s;
  border-radius: 3rem;
}

/* inicio estilos boton menu */
.boton-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.boton-toggle span {
  background-color: var(--colorbase);
  width: 25px;
  height: 3px;
}
/* fin estilos boton */
@media (max-width: 60rem) {
  .boton-toggle {
    display: flex;
  }
  .navbar--container-menu {
    position: fixed;
    background-color: var(--colorverde1);
    top: 8rem;
    height: 100vh;
    width: 100%;
    left: 0;
    transform: translateX(100%);
    transition:
      transform 0.5s ease-in-out opacity 0.3s,
      visibility 0.3s;
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
  }
  /* clase de activacion menu*/
  .navbar--container-menu.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    z-index: 101;
  }
  /* clase de activacion menu*/

  .navbar--menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}
/* queris de menu */
/* fin queris de menu */ /* fin del HEADER Y MENU */

/* MENU HERO */
.hero {
  background-image: url(../img/hero-mobil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 76.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero--texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  line-height: 2.2rem;
  padding: 6rem;
}
.hero--texto h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--colorbase);
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
.hero--texto p {
  color: var(--colorbase);
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.btn--hero {
  background-color: var(--colorboton);
  color: var(--colorverde1);
  font-family: var(--subtitulos);
  padding: 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn--hero:hover {
  background-color: var(--colorbase);
  color: var(--colorcafe1);
  transition: 0.5s;
  font-size: 1.9rem;
}
/* versiones tablet */
@media (min-width: 37.5rem) {
  .hero {
    width: 100%;
    height: 92rem;
  }

  .hero--texto {
    padding: 15rem;
  }
}
/* versiones laptop 1024 */
@media (min-width: 64rem) {
  .hero {
    background-image: url(../img/hero-sambo.jpg);
    width: 100%;
    height: 45rem;
  }

  .hero--texto {
    padding: 30rem;
  }
  .hero--texto h1 {
    font-size: 4.5rem;
  }
  .hero--texto p {
    font-size: 1.5rem;
  }
}
/* versiones laptop 1440 */
@media (min-width: 90rem) {
  .hero {
    width: 100%;
    height: 70rem;
  }
  .hero--texto h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .hero--texto p {
    font-size: 2rem;
  }
  .hero--texto {
    padding: 60rem;
  }
}
/* FIN MENU HERO */

/* estilos de iconos */
.iconos {
  text-align: center;
  background-color: var(--colorverde1);
  padding: 2rem 0;
  margin: 0 auto;
}
.iconos--producto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.iconos--producto-card {
  width: 100%;
  padding: 1rem;
}
.iconos--producto-card img {
  filter: brightness(0) invert(99%) sepia(21%) saturate(464%) hue-rotate(328deg)
    brightness(101%) contrast(95%);
  height: 90px;
  width: auto;
  margin: 0 auto;
}
.iconos--producto-card h3 {
  padding: 2rem;
  color: var(--colorbase);
}

@media (min-width: 37.5rem) {
  .iconos--producto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1;
    align-items: start;
  }
  .iconos--producto-card img {
    height: 6rem;
    width: 6rem;
    object-fit: contain;
  }
  .iconos--producto-card h3 {
    font-size: 1.5rem;
  }
}
/* estilos de iconos */

/* seccion nosotros */
.nosotros {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.container h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--colorcafe1);
  line-height: 3.5rem;
  padding: 3rem;
}
.nosotros--contenido {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nosotros--contenido img {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.nosotros--texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.nosotros--texto h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--colorcafe1);
  line-height: 2.5rem;
  padding: 1.5rem;
}
.nosotros--texto h4 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--colorcafe1);
  line-height: 1.8rem;
  padding: 1rem;
}
.nosotros--texto p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--colorcafe1);
  line-height: 1.8rem;
  text-align: justify;
  padding: 0 0.5rem;
}

@media (min-width: 37.5rem) {
  .nosotros--contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .nosotros--texto p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
/* seccion nosotros */

/* seccion beneficios */
.beneficios {
  background-color: var(--colorverde2);
}
.beneficios--contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.beneficios--contenido h3 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--colorcafe1);
  line-height: 2.5rem;
  padding: 1.5rem;
  margin-top: 3rem;
}
.beneficios--contenido h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--colorcafe1);
  line-height: 1.8rem;
  padding: 1rem;
}
.beneficios--img {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.beneficios--img2 {
  display: none;
}
@media (min-width: 64rem) {
  .beneficios--img1 {
    display: none;
  }
  .beneficios--img2 {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
  }
}
/* fin seccion beneficios */

/* encusntrasnos */
.encuentranos {
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 3rem;
}
.encuentranos h2 {
  margin-top: 3rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--colorcafe1);
  line-height: 2.5rem;
  text-align: center;
}
.encuentranos--logo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.encuentranos--logo-img {
  width: 90%;
  object-fit: cover;
  margin: 0 auto;
}
@media (min-width: 37.5rem) {
  .encuentranos {
    margin-top: 5rem;
    margin-bottom: 8rem;
  }
  .encuentranos--logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1;
    align-items: start;
    justify-content: baseline;
  }
  .encuentranos--logo-img {
    width: 80%;
  }
}

/* fin de encuentranos */

/* formualrio y contactos */
.formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario--ladoA {
  background-color: var(--colorverde2);
}
.formulario--ladoA-img {
  border-radius: 3rem;
}
.formulario--ladoA-texto {
  padding: 3rem;
}
.formulario--ladoA-texto h2 {
  margin-top: 3rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--colorcafe1);
  line-height: 3.5rem;
  text-align: center;
}
.formulario--ladoA-texto p {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--colorcafe1);
  line-height: 2.5rem;
  text-align: justify;
  padding: 0 0.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.formulario--ladoB {
  background-color: var(--colorverde1);
  width: 100%;
}

.formulario--ladoB h2 {
  margin-top: 3rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--colorbase);
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.formulario--ladoB-fomr {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.formulario--ladoB-fomr label {
  color: var(--colorbase);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: var(--subtitulos);
}
.formulario--ladoB-fomr input {
  display: block;
  border: none;
  border-radius: 2rem;
  background: var(--colorbase);
  opacity: 0.8;
  height: 3.5rem;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}
.formulario--ladoB-fomr textarea {
  display: block;
  border: none;
  border-radius: 2rem;
  background: var(--colorbase);
  opacity: 0.8;
  height: 3.5rem;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  height: 9rem;
  margin-bottom: 3rem;
}
.boton-form {
  display: block;
  border: none;
  border-radius: 2rem;
  width: auto;
  background-color: #dbfa7e;
  color: #136832;
  padding: 1.5rem 4rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}
.boton-form:hover {
  color: #2b1a0a;
  background-color: #f9eadc;
  transition: 0.5s;
  font-size: 1.9rem;
}
@media (min-width: 37.5rem) {
  .formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .formulario--ladoA {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .formulario--ladoA-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formulario--ladoB {
    padding: 2rem;
    height: 100%;
  }
}
/* fin formulario y contactos */

/* inicio de seccion videos */
.videos {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.videos h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--colorcafe1e);
  line-height: 3.5rem;
  text-align: center;
}
.videos--contenedor {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}
@media (min-width: 37.5rem) {
  .videos--contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 2rem;
  }
}
.videos--contenedor-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.videos--contenedor-tarjeta h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colorcafe1e);
  line-height: 1.5rem;
  text-align: center;
  padding: 3rem;
  margin-bottom: 1rem;
}

.videos--contenedor-tarjeta iframe {
  width: 100%;
}
/* fin seccions de videos */

/* INICIO FOOTER */
.footer {
  background-color: var(--colorverde1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.footer--contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.footer--contenedor-contactos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer--contenedor-contactos h2 {
  font-weight: bold;
  color: var(--colorbase);
  line-height: 3.5rem;
  text-align: center;
  font-size: 2rem;
}
.footer--contenedor-contactos p {
  color: var(--colorbase);
  font-weight: bold;
  padding: 1rem;
  text-align: left;
}
.footer--contenedor-contactos ul li {
  padding: 1.2rem;
}

.footer--contenedor-contactos ul li a {
  color: var(--colorbase);
  font-weight: bold;
  padding: 1rem;
  text-align: left;
  margin-top: 3rem;
  cursor: pointer;
}
.footer--contenedor-contactos ul li a:hover {
  color: var(--colorautor);
  background-color: var(--colorboton);
  border-radius: 2rem;
  transition: 0.5s;
}
@media (min-width: 37.5rem) {
  .footer--contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: left;
  }
}
.footer--autor {
  text-align: center;
  color: var(--colorbase);
  background-color: var(--colorautor);
  padding: 3rem;
  font-weight: 500;
  font-size: 1rem;
}

.footer--contenedor-contactos a i {
  color: var(--colorbase);
  font-size: 3.5rem;
  padding: 3rem;
}
/* FIN DEL FOOTER */

/* CONCURSO */
.concurso {
  height: 40rem;
  width: 100%;
  background-image: url(../img/banner-concurso-aji.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.274);
}
.concurso--textos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colortransparente);
  padding: 4rem;
}

.concurso--textos h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
}
.concurso--textos h3 {
  font-family: var(--titulos);
  font-size: 4rem;
  margin-bottom: 2.5rem;
}
.concurso--textos p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.concurso--textos a {
  font-size: 1.8rem;
  background-color: var(--colorcafe1);
  color: var(--colorbase);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  font-weight: bold;
}
.concurso--textos a:hover {
  background-color: var(--colorverde1);
  color: var(--colorbase);
  font-size: 1.9rem;
  transition: 0.4s;
}
.vacio {
  display: none;
}

@media (min-width: 64rem) {
  .vacio {
    display: grid;
  }
  .concurso {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .concurso--textos {
    border-radius: 0 2rem 2rem 0;
  }
}
/* FIN DE CONCURSO */
