/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variables */
:root {
  /* colores */
  --colorbase: #f9eadc;
  --colorverde1: #136832;
  --colorverde2: #b0ca83;
  --colorcafe1: #2b1a0a;
  --colorboton: #dbfa7e;
  /* Textos */
  --titulos: 'Playfair Display', serif;
  --subtitulos: 'Montserrat', sans-serif;
  --textos: 'Open Sans', sans-serif;
}

/* GLOBALES */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--colorbase);
  font-size: 62.5%;
  font-family: var(--textos);
}
body {
  font-size: 1.6rem;
  font-family: var();
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

img {
  max-width: 100%; /* Nunca serÃ¡ mÃ¡s ancha que su padre */
  display: block; /* Quita un pequeÃ±o espacio extra que dejan las imÃ¡genes abajo */
  height: auto; /* Mantiene la proporciÃ³n para que no se vea estirada */
}
h1 {
  font-family: var(--titulos);
}

h2,
h3,
h4 {
  font-family: var(--subtitulos);
}
p {
  font-family: var(--textos);
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* inicio del HEADER Y MENU */
.navbar {
  background-color: var(--colorverde1);
  position: sticky;
  top: 0;
  left: 0;
  height: 8rem;
  z-index: 100;
}
.navbar--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar--container-imagen {
  height: 5rem;
  width: auto;
}

.navbar--menu-list {
  display: flex;
  gap: 2rem;
}
.navbar--menu-list li a {
  color: var(--colorbase);
  padding: 1.5rem;
  display: block;
  height: 100%;
  background: transparent;
  font-weight: bold;
}

.navbar--menu-list li a:hover {
  background-color: var(--colorboton);
  color: var(--colorverde1);
  transition: 0.4s;
  border-radius: 3rem;
}

/* inicio estilos boton menu */
.boton-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.boton-toggle span {
  background-color: var(--colorbase);
  width: 25px;
  height: 3px;
}
/* fin estilos boton */
@media (max-width: 60rem) {
  .boton-toggle {
    display: flex;
  }
  .navbar--container-menu {
    position: fixed;
    background-color: var(--colorverde1);
    top: 8rem;
    height: 100vh;
    width: 100%;
    left: 0;
    transform: translateX(100%);
    transition:
      transform 0.5s ease-in-out opacity 0.3s,
      visibility 0.3s;
    z-index: 1001;
    visibility: hidden;
    opacity: 0;
  }
  /* clase de activacion menu*/
  .navbar--container-menu.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    z-index: 101;
  }
  /* clase de activacion menu*/

  .navbar--menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}
/* queris de menu */
/* fin queris de menu */ /* fin del HEADER Y MENU */

/* MENU HERO */
.hero {
  background-image: url(../img/hero-mobil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 76.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero--texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  line-height: 2.2rem;
  padding: 6rem;
}
.hero--texto h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--colorbase);
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
.hero--texto p {
  color: var(--colorbase);
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.btn--hero {
  background-color: var(--colorboton);
  color: var(--colorverde1);
  font-family: var(--subtitulos);
  padding: 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
}
/* versiones tablet */
@media (min-width: 37.5rem) {
  .hero {
    width: 100%;
    height: 92rem;
  }

  .hero--texto {
    padding: 15rem;
  }
}
/* versiones laptop 1024 */
@media (min-width: 64rem) {
  .hero {
    background-image: url(../img/hero-sambo.jpg);
    width: 100%;
    height: 45rem;
  }

  .hero--texto {
    padding: 30rem;
  }
  .hero--texto h1 {
    font-size: 4.5rem;
  }
  .hero--texto p {
    font-size: 1.5rem;
  }
}
/* versiones laptop 1440 */
@media (min-width: 90rem) {
  .hero {
    width: 100%;
    height: 70rem;
  }
  .hero--texto h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .hero--texto p {
    font-size: 2rem;
  }
  .hero--texto {
    padding: 60rem;
  }
}
/* FIN MENU HERO */

/* estilos de iconos */
.iconos {
  text-align: center;
  background-color: var(--colorverde1);
  padding: 2rem 0;
  margin: 0 auto;
}
.iconos--producto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.iconos--producto-card {
  width: 100%;
  padding: 1rem;
}
.iconos--producto-card img {
  filter: brightness(0) invert(99%) sepia(21%) saturate(464%) hue-rotate(328deg)
    brightness(101%) contrast(95%);
  height: 90px;
  width: auto;
  margin: 0 auto;
}
.iconos--producto-card h3 {
  padding: 2rem;
  color: var(--colorbase);
}

@media (min-width: 37.5rem) {
  .iconos--producto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1;
    align-items: start;
  }
  .iconos--producto-card img {
    height: 6rem;
    width: 6rem;
    object-fit: contain;
  }
  .iconos--producto-card h3 {
    font-size: 1.5rem;
  }
}
/* estilos de iconos */
